/*
article {
    background-color:#000;
    border-radius:1rem;
    display:flex;
    height:10rem;
    margin:1rem;
    overflow:hidden;
}

article:hover {box-shadow:0 0 2rem 1rem #000;}

article:active {opacity:0.75;}

article h2 {
    color:#ffe227;
    font-size:1.75rem;
    margin-bottom:1rem;
}
*/
.main {
    background-image:url('../images/temp_tuba.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

.SongContainer {
    align-items:flex-start;
    background-color:rgba(0, 0, 0, 0.73);
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:2rem 0.75rem;
}

.SongContainer h1 {
    background-color:#000;
    border-bottom:0.2rem solid #ffe227;
    border-radius:1rem;
    color:#ffe227;
    display:inline-block;
    font-size:4rem;
    margin:2rem 0;
    padding:1rem 3rem;
    width:95%;
}

.socials {
    background-color:rgba(41, 191, 255, 0.5) !important;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    left:60%;
    position:absolute;
    width:40%;
    z-index:5;
}
/*
#chamber article {
    align-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    height:fit-content;
    justify-content:center;
    padding-bottom:1rem;
    width:25%;
}

#chamber article div {
    text-align:center;
    width:90%;
}

#chamber article img {width:100%;}

#orchestra article {
    align-items:center;
    flex-wrap:wrap;
    justify-content:flex-start;
    width:50%;
}

#orchestra article div {width:60%;}

#orchestra article img {
    height:100%;
    margin-right:2rem;
}

#wind article {
    align-items:center;
    flex-wrap:wrap;
    justify-content:flex-start;
}

#wind article div {width:60%;}

#wind article img {
    height:100%;
    margin-right:3rem;
}
*/